:root{
    --form-blue-color: #1127EC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form__container{
    display: flex;
    flex-direction: column;
    min-height: 80%;
    background-color: #e4e4e4;
    padding:1rem 2rem;
}

#form__header{
    text-align: center;
}
#form__checkbox{
    transform: scale(1.3);
    accent-color: var(--form-blue-color);
}

#form__position{
    flex-direction: column;
    display: flex;
}

#form,#form__full-name{
    display: flex;
    flex-direction: column;
}

#form__info-box{
    display: flex;
    flex-direction: column;
}

label:not(#form__accept label){
    font-size: 0.9rem;
    margin-bottom:.4rem;
    margin-left:.4rem;
}

.input, #form__button{
    border-radius: 1rem;
    border:none;
}
/*^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]$*/
.input{
    margin-bottom:1.1rem;
    padding:10px;
    font-size: 1rem;
}

#form__button{
    color:#fff;
    font-size: 1.1rem;
    background-color: var(--form-blue-color);
    padding:.5rem 0;
}
#form__info{
    color:rgb(129, 128, 128);
}

#form__accept{
    text-align: center;
    margin-top:1rem;
    margin-bottom:1rem;
}
#form__accept label{
    margin-left:.5rem;
}

a{
    text-decoration: none;
    color:#609B8D;
}

#modal__visible{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(70, 69, 69, 0.845);
    min-height: 80vh;
    min-width: 80vw;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal__close{
    position: absolute;
    top:0;
    left:100%;
    transform: translateX(-100%);
    color:#000;
    font-weight: 800;
    font-size: 2rem;
    padding:1rem;
    cursor: pointer;
}